.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.333333rem;
  display: flex;
  border-top: .026667rem solid #b6b6b6;
  background-color: rgba(246, 246, 246, .95);
}

.bottom-bar .btn-item {
  display: flex;
  flex-direction: column;
  font-size: .293333rem;
  align-items: center;
  justify-content: center;
  color: #999;
  flex: 1;
  text-decoration: none;
}

.bottom-bar .tab-icon {
  margin-bottom: .106667rem;
  width: .666667rem;
  height: .666667rem;
  background-size: cover;
}

.bottom-bar .index.btn-item .tab-icon {
  background-image: url(./img/homeIcon.png);
}

.bottom-bar .order.btn-item .tab-icon {
  background-image: url(./img/orderIcon.png);
}

.bottom-bar .my.btn-item .tab-icon {
  background-image: url(./img/myIcon.png);
}

.bottom-bar .btn-item.active {
  color: #000;
}

.bottom-bar .index.btn-item.active .tab-icon{
  background-image: url(./img/homeIconActive.png);
}

.bottom-bar .order.btn-item.active .tab-icon{
  background-image: url(./img/orderIconActive.png);
}

.bottom-bar .my.btn-item.active .tab-icon{
  background-image: url(./img/myIconActive.png);
}