.header {
  width: 100%;
  height: 1.706667rem;
  background-color: #fff;
  border-bottom: 1px solid #b2b2b2;
  font-size: .453333rem;
  text-align: center;
  line-height: 1.706667rem;
  font-weight: bold;
}